.aboutFlex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    gap: 50px;
    margin: 50px auto;
}

.buddyLogo{
    width: 200px;
    min-width: 300px;
}

.buddyLogo img{
    width: 100%;
}

.AboutHeroImg{
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    object-fit: cover;
}

.AboutCard{
    position: relative;
}

.AboutHeroImg img{
    width: 100%;
     min-height: 100vh;
    object-fit: cover;
}

.spaceLorem{
    margin-top: 30px;
}
.AboutText{
    line-height: 23px;
    font-size: 16px;
    width: 80%;
}
.AboutText h2{
    width: 60%;
    margin: 20px 0;
}
.About{
    position: absolute;
    margin: auto;
     transform: translateY(-100%) translateX(-50%);
    top: 50%;
    left: 50%;
    right: 0;
    color: white;
    z-index: 9999999;
    text-align: center;
    width: 100%;
}
.About h1{
    font-size:  clamp(0.9rem, 2vw + 3rem, 5.2rem );;
    font-weight: 600;
}

.About p{
     font-size: clamp(1em, 1vw, 0.9em);
    font-weight: 600;


}
