.IndonesiaImages{
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 30px;
    flex-wrap:wrap;
    width: 95%;
    margin: 50px auto;
}
.image1{
    max-width: 100%;
    height: auto;
}
.IndonesiaImages img{
    width: 100%;
}
.placesCard{
text-align: center;
margin-bottom: 20px;
}
.span{
    color: darkblue;
    font-weight: 900px;
}