.stars{
    width: 80px;
    height: auto;
}

.sliderCard{
    position: relative;
}
.eventCard{
    width: 250px;
    max-width: 30%;
    max-height: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    left: 100px;
    /* right: 0; */
    top: 100px;
    border-radius: 5px;
    line-height: 20px;
    padding: 30px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
}

.myImages img{
    width: 100vw;
    min-width: 100%;
}
.event{
    color: orangered;
    font-size: 18px;
}
.rating{
    display: flex;
    gap: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.comment{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.location{
    padding-top: 5px;
    padding-bottom: 5px;
}
.date{
    padding-top: 5px;
    padding-bottom: 5px;
}
.cost{
      padding-top: 5px;
    padding-bottom: 5px;
}
.organizer{
      padding-top: 5px;
    padding-bottom: 5px;
}
.plan{
    background-color: orangered;
    display: flex;
    border: none;
    padding: 10px 30px;
    color: white;
    border-radius: 3px;
}
.plansBtn{
    margin-top: 20px;
}

@media (max-width: 920px){
    .eventCard{
        display: none;
    }
}